// Place all the styles related to the data_handling controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
/*
 *= require_tree .
 *= require_self
 */

.btn.btn-primary{
  background-color: rgba(121, 142, 144, 1);
  color: white;
  border-color: rgba(121, 142, 144, 0.8);
  height: 40px;
  border-radius: 20px;
  width: inherit;
}

.align-center{
  padding-top: 9px;
  width: calc(100% + 20px);
}

.btn.btn-danger{
  background-color: rgba(162, 65, 77, 1);
  color: white;
  border-color: rgba(162, 65, 77, 0.8);
  height: 40px;
  border-radius: 20px;
  width: inherit;
}

.btn.btn-success{
  background-color: rgba(129, 201, 157, 1);
  color: white;
  border-color: rgba(129, 201, 157, 0.8);
  height: 40px;
  border-radius: 20px;
  width: inherit;
}

.btn{
  margin-right: 10px !important;
}
.name{
  vertical-align: inherit;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: inherit;
  border-top: 1px solid #ddd;
  .username{
    font-weight: bold;
  }
}

.table.dataTable > tbody > tr{
  background-color: transparent;
}

.table.dataTable{
  border-collapse: collapse;
  thead > tr > th {
    border-bottom: 1px solid #ddd;
  }
}

.table.dataTable.no-footer{
  border-bottom: 1px solid #ddd;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: rgba(255, 255, 255, 0.5) !important;
  font-weight: lighter;
  font-size: small;
  float: left !important;
}

#user_table > tbody > tr:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

