// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: #72D69A;
}

h1{
  color: #ffffff;
  text-align: center;
}

h3{
  color: #ffffff;
  text-align: center;
}

#imagewrapper {
  text-align:center
}

#imagewrapper img {
  display:inline-block;
  margin:0 5px
}